.spoiler
{
padding:5px;
border:2px solid #808080;
background-color: white;
margin: 5px 5px;
max-height:400px;
overflow: auto;
color: black;
}
.spoilertexte
{
font-weight:bold; font-size:10px;
}


.quote
{
padding:5px; 
border:1px solid #653533; 
margin: 5px 5px; 
overflow: auto;
}
